# Task 1

In [ ]:
ids = {'user1': [213, 213, 213, 15, 213],
'user2': [54, 54, 119, 119, 119],
'user3': [213, 98, 98, 35]}

In [ ]:
uniq_geo = []

for geo in ids.values():
    set(geo)
    uniq_geo = uniq_geo  + geo
print (set(uniq_geo))

{98, 35, 15, 213, 54, 119}

# Task 2

In [ ]:
queries = [
    'смотреть сериалы онлайн',
    'новости смотреть сериалы онлайн смотреть сериалы онлайн спорта',
    'афиша кино',
    'курс смотреть сериалы онлайн доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про смотреть сериалы онлайн спорт',
]


m_dict = dict()
query1 = 0

#m_dict[query_splited_3] = query_splited
for query in queries:
    query_splited = query.split(' ')
    if query not in m_dict:
      word_len = len(query_splited)
      #используйте m_dict.setdefault(len(query_splited), 0) для первичной инициализации. Дальше сразу можно прибавлять +1. 
      #особенность setdefault в том, что если ключ не существует, то ключ будет инициализирован нулем. Если существует, то его значение не изменится. Используйте эту особенность
      m_dict.setdefault(len(query_splited), 0)
      m_dict[word_len] += 1
    #else:
      #m_dict[word_len] += 1 
     
    
print(m_dict)

{3: 3, 8: 1, 2: 1, 5: 1, 6: 1}

# Task 3

In [ ]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [ ]:
#(revenue / cost - 1) * 100

In [ ]:
roi=0
for company in list(results.values()):
    roi = (company['revenue'] / company['cost'] - 1)*100
    company['roi'] = round(roi, 2) 
    #print(company)
print (results)

{'vk': {'revenue': 103, 'cost': 98, 'roi': 5.1}, 'yandex': {'revenue': 179, 'cost': 153, 'roi': 16.99}, 'facebook': {'revenue': 103, 'cost': 110, 'roi': -6.36}, 'adwords': {'revenue': 35, 'cost': 34, 'roi': 2.94}, 'twitter': {'revenue': 11, 'cost': 24, 'roi': -54.17}}

# Task 4

In [ ]:
stats = {'facebook': 55, 'yandex': 115, 'vk': 120, 'google': 99, 'email': 42, 'ok': 98}

#Результат: Максимальный объем продаж на рекламном канале: vk

In [ ]:
#max(list(stats.values()))
#вывести ключ, чье значение равно max(list(stats.values()))
for key, value in stats.items():
    if max(list(stats.values())) == value:
        print('Максимальный объем продаж на рекламном канале: ' , key)

Максимальный объем продаж на рекламном канале:  vk

# Task 5

In [ ]:
my_list = ['2018-01-01', 'yandex', 'cpc', 100]
res = my_list[-1]            
for el in reversed(my_list[:-1]):      
  res = {el: res}
print(res)

{'2018-01-01': {'yandex': {'cpc': 100}}}

In [ ]:
my_list = ['2018-01-01', 'yandex', 'cpc', 100]

In [ ]:
my_dict = dict()
i=0
for element in my_list:
    my_dict[my_list[-2]]= my_list[-1]
    my_dict[my_list[-3]] = my_dict[my_list[-2]]
    #my_dict.get(my_list[0])[my_list[1]] = my_list[2]
    #my_dict_values = list(my_dict.values())
    #my_dict_values[my_list[1]] = my_list[2]
print(my_dict)
# происходит переназаначение переменной. чтобы этого избежать нужно каждый раз создавать в цикле новую переменную, чтобы цикл был нечувствиетлен к окличеству элементов в исходном списке.

{'cpc': 100, 'yandex': 100}

In [ ]:
#если в ручную (без цикла)
my_dict = dict()
my_dict1 = dict()
my_dict2 = dict()
# как избежать назначения всех этих переменных перед циклом

i=0
for element in my_list:
    my_dict['cpc'] = 100
    my_dict1['yandex'] = my_dict
    my_dict2['2018-01-01'] = my_dict1
   
print(my_dict2)

{'2018-01-01': {'yandex': {'cpc': 100}}}