<a href="https://colab.research.google.com/github/igorzhidkov/DS29/blob/main/HW_6_errors_dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1**

In [7]:
# Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
# The Moscow Times - Wednesday, October 2, 2002
# The Guardian - Friday, 11.10.13
# Daily News - Thursday, 18 August 1977

from datetime import datetime

TheMoscowTimes = datetime.strptime("Wednesday, October 2, 2002" , '%A, %B %d, %Y' )
TheMoscowTimes

TheGuardian = datetime.strptime("Friday, 11.10.13" , '%A, %d.%m.%y' )
TheGuardian

DailyNews = datetime.strptime("Thursday, 18 August 1977" , '%A, %d %B %Y' )
DailyNews

print(TheMoscowTimes, TheGuardian, DailyNews)

2002-10-02 00:00:00 2013-10-11 00:00:00 1977-08-18 00:00:00

# **Task 2**

In [ ]:
stream = ["2018-04-02", "2018-02-29", "2018-19-02"]


def func(stream):
  for date in stream:
    #print(date)
    try:
      datetime.strptime(date, '%Y-%m-%d')
      print('true')
    except:
      print('false')
      
func(stream)

true
false
false

In [ ]:
from datetime import timedelta

# **Task 3**

In [ ]:
# start_date = input("input start date informat: YYYY-MM-DD  ")
# end_date = input("input end date informat: YYYY-MM-DD  ")

# Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.
#  Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

# start_date = '2001-09-11'
# end_date = '2021-12-11'

# date_list = []

def date_range():
  start_date = input("input start date informat: YYYY-MM-DD  ")
  end_date = input("input end date informat: YYYY-MM-DD  ")

  date_list = []
  try:
    start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
  except:
    print(date_list)

  finally:
    start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
    if start_date_datetime < end_date_datetime and  datetime.strptime(start_date, '%Y-%m-%d') and datetime.strptime(end_date, '%Y-%m-%d') :
      while start_date_datetime != end_date_datetime:
        start_date_datetime += timedelta(days= 1)
        date_list.append(start_date_datetime.strftime('%Y-%m-%d'))
      print(date_list)
     
    else:
      print(date_list)

date_range()

input start date informat: YYYY-MM-DD  2021-12-11
input end date informat: YYYY-MM-DD  2020-12-11
[]

# **Task 4**

In [9]:
"""
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
"""
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)

  return default_list[DEFAULT_USER_COUNT-2]

In [13]:
delete_and_return_last_user(1)

IndexError: ignored

Установлен счетчик пользователей (3). Их колличество мы видим в списке default list, а именно А100 А101 А102. 
Функиця работает с default list, удаляя из него пользователей с конца. Так при первой итерации функция удалит А102 из списка и через return выведет 
((DEFAULT_USER_COUNT = 3) - 2 = 1) то есть второй элемент в списке default list - A101. 
При второй итерации в списке уже два элемента и функиця удаляет последний те А101, так в списке остается один элемент А100 под индексом 0. Поскольку в return все тот же индекс ((DEFAULT_USER_COUNT = 3) - 2 = 1) то при запросе из списка default list[1] появляется ошибка, так как в нем есть только один элемент под индексом 0.