In [1]:
import pandas as pd

# Task 1

In [2]:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

In [3]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
def rating_class(num):
    num = float(num)
    if num <= 2.0:
        return 'low'
    elif num <= 4.0:
        return 'midle'
    elif 4.5 <= num <= 5.0:
        return 'high'
    
rating_class(4.5)

'high'

In [5]:
data_ratings['class'] =  data_ratings['rating'].apply(rating_class)
data_ratings.head()

   userId  movieId  rating  timestamp  class
0       1        1     4.0  964982703  midle
1       1        3     4.0  964981247  midle
2       1        6     4.0  964982224  midle
3       1       47     5.0  964983815   high
4       1       50     5.0  964982931   high

# Task 2

In [60]:
data_geo = pd.read_csv('keywords.csv')
# data_geo[data_geo.keyword == 'тула' ].count()
data_geo.keyword.values

array(['вк', 'одноклассники', 'порно', ..., 'укрсиб',
       'погода в ялте на неделю', 'ггму'], dtype=object)

In [8]:
data_geo.head(100)

                     keyword     shows
0                         вк  64292779
1              одноклассники  63810309
2                      порно  41747114
3                       ютуб  39995567
4                  вконтакте  21014195
..                       ...       ...
95                    учи ру   1335038
96   яндекс главная страница   1334744
97              однокласники   1320152
98        мтс личный кабинет   1766893
99  скачать музыку бесплатно   1415741

[100 rows x 2 columns]

In [55]:
geo_data = {
'Центр': ['москв', 'тул', 'ярославл'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [56]:
city = 'владивосток'
def what_region_2(city):
    for region, cities in geo_data.items():
        if city in cities:
            return region
        
    return 'undefined'
            
        
what_region_2(city)

'Дальний Восток'

In [62]:
data_geo['region'] = data_geo.keyword.apply(what_region_2)
data_geo.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [41]:

key_2 = 'хабаровск'
key = 'погода в хабаровске'
if key_2 in key:
    print(1)
      
# То есть  строка "хабаровск" есть в строке "погода в хабаровске" но при этом функция не находит этот keyword в таблице!

1

In [58]:
data_geo[data_geo.keyword == 'погода в хабаровске'].head()

                  keyword  shows     region
8039  погода в хабаровске  33437  undefined

In [59]:
data_geo[data_geo.region != 'undefined'].head()
#ВСЕГО 5 ЗНАЧЕНИЙ? никакой "погода в хабаровске"

           keyword  shows          region
5858   владивосток  43038  Дальний Восток
8977      мурманск  29984    Северо-Запад
9084     хабаровск  29655  Дальний Восток
11222        псков  24885    Северо-Запад
20823    петербург  14859    Северо-Запад

# Если в этом задании нужно найти не только 5 значений (несколненные названия городов) но и остальные, то подскажите пожалуйста, как? Нужно ли докапаться до самой строчки которая лежит в keyword, разбить ее и искать по ней? Или нужно регулярное выражение придумать хитрое, которое бы забирало из городов шаблоны и искало бы их?

# Task 3