In [1]:
import pandas as pd

# Task 1

In [2]:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

In [3]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
def rating_class(num):
    num = float(num)
    if num <= 2.0:
        return 'low'
    elif num <= 4.0:
        return 'midle'
    elif 4.5 <= num <= 5.0:
        return 'high'
    
rating_class(4.5)

'high'

In [5]:
data_ratings['class'] =  data_ratings['rating'].apply(rating_class)
data_ratings.head()

   userId  movieId  rating  timestamp  class
0       1        1     4.0  964982703  midle
1       1        3     4.0  964981247  midle
2       1        6     4.0  964982224  midle
3       1       47     5.0  964983815   high
4       1       50     5.0  964982931   high

# Task 2

In [6]:
data_geo = pd.read_csv('keywords.csv')
# data_geo[data_geo.keyword == 'тула' ].count()
type(data_geo.keyword)

pandas.core.series.Series

In [7]:
data_geo.head(100)

                     keyword     shows
0                         вк  64292779
1              одноклассники  63810309
2                      порно  41747114
3                       ютуб  39995567
4                  вконтакте  21014195
..                       ...       ...
95                    учи ру   1335038
96   яндекс главная страница   1334744
97              однокласники   1320152
98        мтс личный кабинет   1766893
99  скачать музыку бесплатно   1415741

[100 rows x 2 columns]

In [8]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [12]:
city = 'владивосток'
def what_region_2(city):
    for region, cities in geo_data.items():
        for el in cities:
            if el in city:
                return region
    return 'undefined'          
        
what_region_2(city)

'Дальний Восток'

In [16]:
data_geo[data_geo.region != 'undefined'].head()
#ВСЕГО 5 ЗНАЧЕНИЙ? никакой "погода в хабаровске"

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток
1236       банк санкт петербург  174375    Северо-Запад
1259                     москва  153050           Центр
1346            санкт петербург  144232    Северо-Запад
1396            гисметео москва  140279           Центр
1482           госуслуги москва  133061           Центр

# Task 3