In [1]:
import pandas as pd

# **Task 1**

In [8]:
data_movies = pd.read_csv('movies.csv')
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [61]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings_5 = data_ratings[data_ratings.rating == 5.0]
data_ratings_5.head(10)

    userId  movieId  rating  timestamp
3        1       47     5.0  964983815
4        1       50     5.0  964982931
6        1      101     5.0  964980868
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
13       1      231     5.0  964981179
15       1      260     5.0  964981680
18       1      333     5.0  964981179

In [43]:
data_ratings_5['movieId'].value_counts(normalize=False).head(1)

318    153
Name: movieId, dtype: int64

In [60]:
mer_data = data_ratings_5.merge(data_movies, left_on='movieId', right_on='movieId', suffixes=('_left', '_right'))
# mer_data.head()
mer_data['title'].value_counts(normalize=False).head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Подскажите пожалуйста, как по индексу вытащить значение title? Чтобы был не объект как наверху, а именно строка

# **Task 2**

In [63]:
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [89]:
power_ = pd.read_csv('power.csv')
power_.head(10)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1
5  Belgium  2011      25.0         1
6  Belgium  2010      22.0         1
7  Belgium  2009      45.0         1
8  Czechia  1998       1.0         1
9  Czechia  1995       7.0         1

In [109]:
power_baltic = power_[ (power_.country == 'Latvia') | (power_.country == 'Lithuania' )  |  (power_.country =='Estonia') ]

power_baltic_05_10 = power_baltic.query ('2005 <= year <= 2010')

# power_baltic_05_10['year'].unique()
# power_baltic_05_10 ['country'].unique()

array([2010, 2009, 2008, 2007, 2006, 2005], dtype=int64)

In [114]:
res = power_baltic_05_10[power_baltic_05_10.quantity > 0]
res['quantity'].sum()

26034247.620774537

# Подскажите пожалуйста, как можно оптимизировать эту задачу, написать ее короче, сделать pipeline. Заранее спасибо

# **Task 3**

In [139]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

In [128]:

import urllib.request
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
response = urllib.request.urlopen('https://www.python.org')
# print(response.read().decode('utf-8'))

In [140]:
pandas_df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')
print(pandas_df)

[       Дата  Закрытие  Открытие  Максимум  Минимум
0  10.10.21    717830    718365    718445   717730
1  09.10.21    718365    717945    718365   717945
2  08.10.21    718808    717550    720700   716518
3  07.10.21    717615    723965    724765   716860
4  06.10.21    724335    722781    727563   722764
5  05.10.21    722780    725130    726814   722332
6  04.10.21    724711    727270    729995   724030
7  03.10.21    728655    727535    729680   727535
8  02.10.21    726695    727440    727440   726695
9  01.10.21    726800    727315    732500   726575,        Имя  Unnamed: 1      %    курс                 Дата
0  EUR/RUB         NaN  -2735  829475  11.10.2021 17:07:00
1  USD/RUB         NaN  -2304  716176  11.10.2021 17:07:00
2  CHF/RUB         NaN   -269  773985  11.10.2021 17:07:00
3  JPY/RUB         NaN -10129     633  11.10.2021 17:07:00
4  GBP/RUB         NaN   -411   97714  11.10.2021 17:07:00
5  NOK/RUB         NaN  -3158   83752  11.10.2021 17:06:00
6  AUD/RUB         NaN   6053  527679  11.10.2021 17:06:00
7  NZD/RUB         NaN   3333  498388  11.10.2021 17:06:00
8  TRY/RUB         NaN  -2493   79898  11.10.2021 17:06:00]

# Подскажите, в чем смысл последнего задания? может я что то не понял, или оно действительно слишком легкое?