In [1]:
#loading the libraries
import os
import numpy as np
import pandas as pd
import statsmodels as sm

In [2]:
#change the directory to the one where
#the files are stored
os.chdir("/Users/X240/Desktop/methods")

In [3]:
#let's start by loading datasets into Python
dataset1 = pd.read_csv("sforce.csv")
dataset2 = pd.read_csv("dollars.csv")   
print(dataset1)

     region      name
0   N Cntrl    Krantz
1   N Cntrl    Phipps
2   N Cntrl    Willis
3        NE   Ecklund
4        NE    Franks
5     South  Anderson
6     South   Dubnoff
7     South       Lee
8     South    McNeil
9      West   Charles
10     West      Cobb
11     West     Grant

In [4]:
print(dataset2)
#as you can see, here we have one identifier variable
#region

    region   sales    cost
0  N Cntrl  419472  227677
1       NE  360523  138097
2    South  532399  330499
3     West  310565  165348

In [5]:
#we can merge on region using the standard pandas functionality
merged_data = pd.merge(dataset1, dataset2, on = ["region"])
print(merged_data)

     region      name   sales    cost
0   N Cntrl    Krantz  419472  227677
1   N Cntrl    Phipps  419472  227677
2   N Cntrl    Willis  419472  227677
3        NE   Ecklund  360523  138097
4        NE    Franks  360523  138097
5     South  Anderson  532399  330499
6     South   Dubnoff  532399  330499
7     South       Lee  532399  330499
8     South    McNeil  532399  330499
9      West   Charles  310565  165348
10     West      Cobb  310565  165348
11     West     Grant  310565  165348

In [6]:
#we can also use Pandas to create new variables
merged_data["sales_low"] = [x<=400000 for x in merged_data["sales"]]
print(merged_data)

     region      name   sales    cost  sales_low
0   N Cntrl    Krantz  419472  227677      False
1   N Cntrl    Phipps  419472  227677      False
2   N Cntrl    Willis  419472  227677      False
3        NE   Ecklund  360523  138097       True
4        NE    Franks  360523  138097       True
5     South  Anderson  532399  330499      False
6     South   Dubnoff  532399  330499      False
7     South       Lee  532399  330499      False
8     South    McNeil  532399  330499      False
9      West   Charles  310565  165348       True
10     West      Cobb  310565  165348       True
11     West     Grant  310565  165348       True

In [7]:
#combining multiple conditions is also possible    
merged_data["sales_cost"] = [x<=400000 and y <=150000 for x,y in zip(merged_data["sales"], merged_data["cost"])]
print(merged_data)

     region      name   sales    cost  sales_low  sales_cost
0   N Cntrl    Krantz  419472  227677      False       False
1   N Cntrl    Phipps  419472  227677      False       False
2   N Cntrl    Willis  419472  227677      False       False
3        NE   Ecklund  360523  138097       True        True
4        NE    Franks  360523  138097       True        True
5     South  Anderson  532399  330499      False       False
6     South   Dubnoff  532399  330499      False       False
7     South       Lee  532399  330499      False       False
8     South    McNeil  532399  330499      False       False
9      West   Charles  310565  165348       True       False
10     West      Cobb  310565  165348       True       False
11     West     Grant  310565  165348       True       False

In [8]:
#pandas also supports element-wise operations
merged_data["sales_minus_cost"] = merged_data["sales"] - merged_data["cost"]  
print(merged_data)

     region      name   sales    cost  sales_low  sales_cost  sales_minus_cost
0   N Cntrl    Krantz  419472  227677      False       False            191795
1   N Cntrl    Phipps  419472  227677      False       False            191795
2   N Cntrl    Willis  419472  227677      False       False            191795
3        NE   Ecklund  360523  138097       True        True            222426
4        NE    Franks  360523  138097       True        True            222426
5     South  Anderson  532399  330499      False       False            201900
6     South   Dubnoff  532399  330499      False       False            201900
7     South       Lee  532399  330499      False       False            201900
8     South    McNeil  532399  330499      False       False            201900
9      West   Charles  310565  165348       True       False            145217
10     West      Cobb  310565  165348       True       False            145217
11     West     Grant  310565  165348       True       False            145217

In [9]:
merged_data["sales_divide_cost"] = merged_data["sales"]/merged_data["cost"]  
print(merged_data)

     region      name   sales    cost  sales_low  sales_cost  \
0   N Cntrl    Krantz  419472  227677      False       False
1   N Cntrl    Phipps  419472  227677      False       False
2   N Cntrl    Willis  419472  227677      False       False
3        NE   Ecklund  360523  138097       True        True
4        NE    Franks  360523  138097       True        True
5     South  Anderson  532399  330499      False       False
6     South   Dubnoff  532399  330499      False       False
7     South       Lee  532399  330499      False       False
8     South    McNeil  532399  330499      False       False
9      West   Charles  310565  165348       True       False
10     West      Cobb  310565  165348       True       False
11     West     Grant  310565  165348       True       False

    sales_minus_cost  sales_divide_cost
0             191795           1.842400
1             191795           1.842400
2             191795           1.842400
3             222426           2.610650
4             222426           2.610650
5             201900           1.610894
6             201900           1.610894
7             201900           1.610894
8             201900           1.610894
9             145217           1.878251
10            145217           1.878251
11            145217           1.878251

In [10]:
#create a dataset to demonstrate reshaping operations
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
print(df)

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [11]:
#this data in the wide format
#let's reshape it into long format
long_data = df.melt(id_vars = ['A'], 
                         value_vars = ['B', 'C'])
print(long_data)

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [12]:
#and now let's reshape it back to wide format
wide_data = long_data.pivot(index='A', columns='variable', values='value')
print(wide_data)

variable  B  C
A
a         1  2
b         3  4
c         5  6

In [13]:
#create the identifier variable from the index variable
wide_data['A'] = list(wide_data.index)
print(wide_data)

variable  B  C  A
A
a         1  2  a
b         3  4  b
c         5  6  c

In [18]:
#set the random seed
np.random.seed(12345)
#initialize 100 sequences, each sequence is an elementary outcome
sequences = [int(np.random.binomial(1, 0.5, 1)) for x in range(100)]
#alternative way 
sequences = np.random.binomial(1, 0.5, 100)
#both ways are fine, although the second one is shorter 
probabilities = [] #this will store sequences of probabilities we are after
#toss a coin 200 times - we need 100 sequences with 200 elements each
epsilon = 0.1 #initialize the epsilon - we are going to count 
#sequences where the absolute difference between
#the arithmetic mean and the true mean is less than this value

In [15]:
for x in range(200):
    #initialize count for sequences that satisfy the condition
    p = 0
    for y in range(100):
        #check if the arithmetic mean of the current
        #sequence differs from the true mean by the values less than epsilon
        p += abs(sequences[y]/(x+1) - 0.5)<epsilon
        #update the current sequence by simulating another coin toss
        sequences[y] += int(np.random.binomial(1, 0.5, 1))
    probabilities += [p/100]
print(probabilities) #indeed, the sequence of probabilities converges to 1

[0.0, 0.49, 0.0, 0.37, 0.61, 0.35, 0.53, 0.27, 0.48, 0.69, 0.43, 0.63, 0.45, 0.56, 0.65, 0.48, 0.65, 0.53, 0.64, 0.73, 0.62, 0.68, 0.62, 0.7, 0.77, 0.72, 0.76, 0.7, 0.76, 0.85, 0.77, 0.8, 0.74, 0.78, 0.83, 0.78, 0.82, 0.78, 0.82, 0.86, 0.83, 0.86, 0.81, 0.85, 0.87, 0.81, 0.83, 0.82, 0.83, 0.85, 0.81, 0.84, 0.84, 0.85, 0.86, 0.86, 0.87, 0.87, 0.88, 0.89, 0.87, 0.89, 0.85, 0.88, 0.92, 0.87, 0.9, 0.86, 0.89, 0.94, 0.92, 0.93, 0.91, 0.94, 0.95, 0.93, 0.95, 0.92, 0.95, 0.96, 0.95, 0.96, 0.94, 0.96, 0.97, 0.96, 0.97, 0.96, 0.96, 0.97, 0.96, 0.97, 0.95, 0.95, 0.98, 0.95, 0.96, 0.96, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.96, 0.97, 0.96, 0.98, 0.99, 0.98, 0.98, 0.98, 0.99, 1.0, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.98, 0.98, 0.98, 0.99, 0.99, 0.98, 0.99, 0.98, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.98, 0.99, 0.98, 0.98, 0.99, 0.99, 1.0, 0.99, 0.99, 1.0, 0.99, 0.99, 0.99, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [16]:
#the code above can be considered as a bit cumbersome
#below I present alternative, much shorter way involving
#list comprehensions
probabilities = []
sequences = np.random.binomial(1, 0.5, 100)
for x in range(200):
    #initialize count for sequences that satisfy the condition
    probabilities += [sum(abs(y/(x+1) - 0.5)<epsilon for y in sequences)/100]
    sequences += np.random.binomial(1, 0.5, 100)
print(probabilities) #as you can see, we obtain the same results

#as you can see, weak law of large numbers concerns the sequence
#of probabilities
#the rigorous formulation for infinite coin toss model
#requires considering all possible elementary outcomes
#after each toss - this, of course, cannot be performed on computer
#however, the ideas stay essentially the same, except we
#consider all elementary outcomes, not just 100 arbitrarily chosen
#ones

[0.0, 0.51, 0.0, 0.28, 0.63, 0.37, 0.53, 0.19, 0.49, 0.62, 0.46, 0.64, 0.46, 0.64, 0.75, 0.65, 0.76, 0.6, 0.68, 0.8, 0.61, 0.7, 0.57, 0.68, 0.79, 0.72, 0.81, 0.68, 0.8, 0.85, 0.78, 0.84, 0.73, 0.82, 0.86, 0.77, 0.81, 0.72, 0.77, 0.85, 0.78, 0.85, 0.79, 0.82, 0.87, 0.84, 0.87, 0.86, 0.89, 0.9, 0.88, 0.93, 0.89, 0.9, 0.91, 0.85, 0.9, 0.87, 0.9, 0.93, 0.9, 0.91, 0.89, 0.94, 0.96, 0.93, 0.94, 0.91, 0.92, 0.93, 0.91, 0.92, 0.89, 0.92, 0.93, 0.92, 0.92, 0.91, 0.93, 0.95, 0.92, 0.94, 0.93, 0.95, 0.95, 0.94, 0.95, 0.95, 0.97, 0.97, 0.96, 0.97, 0.94, 0.95, 0.95, 0.93, 0.95, 0.94, 0.95, 0.95, 0.95, 0.96, 0.95, 0.95, 0.95, 0.94, 0.95, 0.94, 0.95, 0.96, 0.96, 0.97, 0.94, 0.96, 0.96, 0.96, 0.96, 0.95, 0.95, 0.97, 0.96, 0.96, 0.96, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.98, 0.97, 0.98, 0.98, 0.99, 0.99, 0.99, 0.99, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.99, 0.98, 0.98, 0.97, 0.98, 0.98, 0.98, 0.98, 0.97, 0.98, 1.0, 0.98, 0.98, 0.97, 1.0, 1.0, 0.99, 0.99, 0.98, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 1.0, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [17]:
#central limit theorem illustration 
percentile_75 = 0.675
probabilities = []
sequences = np.random.binomial(1, 0.5, 1000)
for x in range(200):
    #initialize count for sequences that satisfy the condition
    probabilities += [sum(np.sqrt(x)*(y/(x+1) - 0.5)/0.5 <= percentile_75 for y in sequences)/1000]
    sequences += np.random.binomial(1, 0.5, 1000)
print(probabilities) #as you can see, we obtain the same results

[1.0, 0.748, 0.873, 0.689, 0.808, 0.645, 0.778, 0.865, 0.76, 0.84, 0.752, 0.822, 0.726, 0.814, 0.713, 0.781, 0.687, 0.764, 0.818, 0.754, 0.814, 0.743, 0.799, 0.729, 0.792, 0.721, 0.786, 0.72, 0.785, 0.721, 0.781, 0.7, 0.762, 0.693, 0.745, 0.795, 0.745, 0.793, 0.733, 0.78, 0.737, 0.787, 0.724, 0.77, 0.72, 0.768, 0.715, 0.757, 0.706, 0.745, 0.695, 0.747, 0.695, 0.739, 0.789, 0.75, 0.789, 0.747, 0.779, 0.739, 0.773, 0.733, 0.784, 0.742, 0.775, 0.733, 0.77, 0.736, 0.774, 0.732, 0.782, 0.735, 0.771, 0.741, 0.776, 0.721, 0.766, 0.793, 0.757, 0.784, 0.745, 0.783, 0.745, 0.782, 0.745, 0.783, 0.75, 0.773, 0.737, 0.767, 0.726, 0.765, 0.729, 0.766, 0.734, 0.771, 0.726, 0.76, 0.719, 0.753, 0.717, 0.759, 0.715, 0.751, 0.717, 0.754, 0.787, 0.752, 0.785, 0.751, 0.778, 0.748, 0.785, 0.752, 0.784, 0.744, 0.768, 0.743, 0.77, 0.745, 0.777, 0.739, 0.772, 0.735, 0.768, 0.734, 0.759, 0.733, 0.767, 0.727, 0.758, 0.726, 0.762, 0.737, 0.76, 0.73, 0.753, 0.725, 0.754, 0.78, 0.75, 0.783, 0.754, 0.784, 0.759, 0.788, 0.764, 0.79, 0.759, 0.786, 0.76, 0.785, 0.755, 0.781, 0.753, 0.781, 0.747, 0.777, 0.744, 0.772, 0.738, 0.763, 0.737, 0.767, 0.736, 0.767, 0.736, 0.763, 0.736, 0.77, 0.741, 0.769, 0.737, 0.762, 0.723, 0.764, 0.786, 0.757, 0.786, 0.755, 0.779, 0.762, 0.777, 0.758, 0.777, 0.755, 0.773, 0.754, 0.775, 0.753, 0.767, 0.749, 0.769, 0.748, 0.768, 0.745, 0.765, 0.746, 0.769, 0.75]