# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер
- Настя - редактор

In [1]:
import pandas as pd

In [2]:
staff = {
    'Лена': 'разработчик',
    'Ваня': 'дизайнер',
    'Настя': 'редактор',
}

In [8]:
def departments(row):
    dicts = row['dicts']
    
    if 'Лена' in dicts:
        row['разработчик'] = dicts['Лена']
        
    if 'Настя' in dicts:
        row['редактор'] = dicts['Настя']
    
    return row

In [16]:
def departments(row):
    dicts = row['dicts']
    
    for name, tasks in dicts.items():
        # print(name, tasks)
        if name in staff:
            if staff[name] in row:
                row[staff[name]] += dicts[name]
            else:
                row[staff[name]] = dicts[name]
        
    return row

In [18]:
df.apply(departments, axis=1).fillna(0)

                    dicts  дизайнер  разработчик  редактор
0  {'Лена': 1, 'Ваня': 2}       2.0          1.0       0.0
1  {'Ваня': 3, 'Леша': 5}       3.0          0.0       0.0
2            {'Настя': 3}       0.0          0.0       3.0

In [3]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}