In [2]:
import os
import numpy as np
import pandas as pd
import statsmodels as sm

## Problem 1

In [4]:
os.chdir('/Users/ds_29')

In [12]:
dataset1 = pd.read_csv("genders.csv")
dataset2 = pd.read_csv("incomes.csv")   
print(dataset1)
print(dataset2)

  First Name Last Name  Gender
0     Carlos   Emerich    Male
1    Rudolph   Torrens    Male
2       Jane     Brown  Female
3      Sarah     Myers  Female
4     Thomas     Green    Male
    First Name Last Name  Income
0       Carlos   Emerich   20000
1      Rudolph   Torrens   16000
2         Jane     Brown   35000
3        Sarah     Myers   30000
4       Thomas     Green   45000
5  Christopher  Anderson   18000

In [30]:
merged_data = pd.merge(dataset1, dataset2, on = ["First Name"])
del merged_data['Last Name_y']
merged_data.rename(index=str, columns={'Last Name_x': 'Last Name'}, inplace=True)
merged_data["income_>40k"] = [x > 40000 for x in merged_data["Income"]]
merged_data["income_<20k"] = [x < 20000 for x in merged_data["Income"]]
print(merged_data)

  First Name Last Name  Gender  Income  income_>40k  income_<20k
0     Carlos   Emerich    Male   20000        False        False
1    Rudolph   Torrens    Male   16000        False         True
2       Jane     Brown  Female   35000        False        False
3      Sarah     Myers  Female   30000        False        False
4     Thomas     Green    Male   45000         True        False

In [33]:
merged_data["20k<incm<40k_M"] = [x == 'Male' and y == True or  z == True for x,y,z in zip(merged_data["Gender"], merged_data["income_>40k"],merged_data["income_<20k"])]

print(merged_data)

  First Name Last Name  Gender  Income  income_>40k  income_<20k  \
0     Carlos   Emerich    Male   20000        False        False
1    Rudolph   Torrens    Male   16000        False         True
2       Jane     Brown  Female   35000        False        False
3      Sarah     Myers  Female   30000        False        False
4     Thomas     Green    Male   45000         True        False

   20k<incm<40k_M
0           False
1            True
2           False
3           False
4            True

In [ ]:
#Continue with GDP

In [35]:
gdp_dataset = pd.read_csv("gdp.csv")
print(gdp_dataset)

       state_long  year  logGDPpc
0     Afghanistan  2002  5.898720
1     Afghanistan  2003  5.931605
2     Afghanistan  2004  5.897416
3     Afghanistan  2005  5.964649
4     Afghanistan  2006  5.986417
...           ...   ...       ...
8893     Zimbabwe  2013  6.848046
8894     Zimbabwe  2014  6.845646
8895     Zimbabwe  2015  6.838944
8896     Zimbabwe  2016  6.821722
8897     Zimbabwe  2017  6.832384

[8898 rows x 3 columns]

In [46]:
wide_gdp_data = gdp_dataset.pivot(index='state_long', columns='year', values='logGDPpc')
print(wide_gdp_data)

year                       1960      1961      1962      1963      1964  \
state_long
Afghanistan                 NaN       NaN       NaN       NaN       NaN
Albania                     NaN       NaN       NaN       NaN       NaN
Algeria                7.810368  7.639268  7.395346  7.665434  7.696583
American Samoa              NaN       NaN       NaN       NaN       NaN
Andorra                     NaN       NaN       NaN       NaN       NaN
...                         ...       ...       ...       ...       ...
Virgin Islands (U.S.)       NaN       NaN       NaN       NaN       NaN
West Bank and Gaza          NaN       NaN       NaN       NaN       NaN
Yemen                       NaN       NaN       NaN       NaN       NaN
Zambia                 7.318833  7.301499  7.244827  7.245271  7.328793
Zimbabwe               6.799639  6.828491  6.810034  6.837810  6.794049

year                       1965      1966      1967      1968      1969  ...  \
state_long                                                               ...
Afghanistan                 NaN       NaN       NaN       NaN       NaN  ...
Albania                     NaN       NaN       NaN       NaN       NaN  ...
Algeria                7.730239  7.653400  7.715324  7.789047  7.841321  ...
American Samoa              NaN       NaN       NaN       NaN       NaN  ...
Andorra                     NaN       NaN       NaN       NaN       NaN  ...
...                         ...       ...       ...       ...       ...  ...
Virgin Islands (U.S.)       NaN       NaN       NaN       NaN       NaN  ...
West Bank and Gaza          NaN       NaN       NaN       NaN       NaN  ...
Yemen                       NaN       NaN       NaN       NaN       NaN  ...
Zambia                 7.451288  7.362814  7.408044  7.389244  7.352957  ...
Zimbabwe               6.809647  6.792804  6.841468  6.829275  6.914355  ...

year                        2008       2009       2010       2011       2012  \
state_long
Afghanistan             6.097962   6.263062   6.315901   6.344291   6.446398
Albania                 8.236257   8.275972   8.317365   8.345237   8.360989
Algeria                 8.387198   8.386182   8.403665   8.412925   8.426050
American Samoa          9.259167   9.230051   9.245014   9.253661   9.210371
Andorra                10.689691  10.644945  10.590022  10.550742  10.550344
...                          ...        ...        ...        ...        ...
Virgin Islands (U.S.)  10.657058  10.588280  10.597714  10.513218  10.351405
West Bank and Gaza      7.613086   7.758873   7.757359   7.800417   7.906074
Yemen                   7.119483   7.130125   7.177196   7.014232   7.011119
Zambia                  7.159187   7.219204   7.288390   7.313039   7.356216
Zimbabwe                6.385409   6.480487   6.579223   6.701756   6.817317

year                        2013       2014       2015       2016       2017
state_long
Afghanistan             6.451510   6.446228   6.429811   6.426310   6.427027
Albania                 8.372779   8.392437   8.417294   8.451865   8.490479
Algeria                 8.432989   8.450174   8.467918   8.482130   8.481603
American Samoa          9.181026   9.188083   9.198684   9.171025        NaN
Andorra                10.573988  10.616071  10.639836  10.667991  10.690647
...                          ...        ...        ...        ...        ...
Virgin Islands (U.S.)  10.293009  10.284822  10.288378        NaN        NaN
West Bank and Gaza      7.832485   7.791931   7.879215   7.884403   7.821666
Yemen                   7.031827   7.004081   6.514511   6.069319        NaN
Zambia                  7.375203   7.390690   7.389229   7.396084   7.406191
Zimbabwe                6.848046   6.845646   6.838944   6.821722   6.832384

[203 rows x 58 columns]

In [49]:
long_gdp_data = wide_gdp_data.melt( id_vars = ['state_long'], value_vars = ['year', 'logGDPpc'])

print(long_gdp_data)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['state_long']"

In [42]:
print(len(wide_gdp_data))

203

In [53]:
gdp_dataset['gdp_>_6'] = [x > 6 for x in gdp_dataset["logGDPpc"]]
print(gdp_dataset)

       state_long  year  logGDPpc  gdp_>_6
0     Afghanistan  2002  5.898720    False
1     Afghanistan  2003  5.931605    False
2     Afghanistan  2004  5.897416    False
3     Afghanistan  2005  5.964649    False
4     Afghanistan  2006  5.986417    False
...           ...   ...       ...      ...
8893     Zimbabwe  2013  6.848046     True
8894     Zimbabwe  2014  6.845646     True
8895     Zimbabwe  2015  6.838944     True
8896     Zimbabwe  2016  6.821722     True
8897     Zimbabwe  2017  6.832384     True

[8898 rows x 4 columns]

In [54]:
gdp_dataset['finland'] = [x == 'Finland' for x in gdp_dataset["state_long"]]
print(gdp_dataset)

       state_long  year  logGDPpc  gdp_>_6  finland
0     Afghanistan  2002  5.898720    False    False
1     Afghanistan  2003  5.931605    False    False
2     Afghanistan  2004  5.897416    False    False
3     Afghanistan  2005  5.964649    False    False
4     Afghanistan  2006  5.986417    False    False
...           ...   ...       ...      ...      ...
8893     Zimbabwe  2013  6.848046     True    False
8894     Zimbabwe  2014  6.845646     True    False
8895     Zimbabwe  2015  6.838944     True    False
8896     Zimbabwe  2016  6.821722     True    False
8897     Zimbabwe  2017  6.832384     True    False

[8898 rows x 5 columns]

## Problem 2

In [58]:
np.random.seed(12345)
sequences = np.random.binomial(1, 0.5, 100)
probabilities = []
epsilon = 0.1

for x in range(200):
    p = 0
    for y in range(100):
        p += abs(sequences[y]/(x+1) - 0.5)<epsilon
        sequences[y] += int(np.random.binomial(1, 0.5, 1))
    probabilities += [p/100]
print(probabilities)

[0.0, 0.52, 0.0, 0.4, 0.65, 0.35, 0.61, 0.29, 0.49, 0.67, 0.45, 0.62, 0.45, 0.59, 0.69, 0.52, 0.65, 0.5, 0.61, 0.71, 0.64, 0.71, 0.6, 0.68, 0.81, 0.69, 0.78, 0.67, 0.75, 0.83, 0.77, 0.81, 0.74, 0.78, 0.82, 0.77, 0.83, 0.77, 0.82, 0.89, 0.82, 0.85, 0.8, 0.85, 0.91, 0.81, 0.85, 0.81, 0.83, 0.86, 0.82, 0.85, 0.82, 0.86, 0.89, 0.85, 0.86, 0.85, 0.88, 0.89, 0.87, 0.9, 0.87, 0.9, 0.92, 0.9, 0.93, 0.89, 0.91, 0.94, 0.92, 0.95, 0.92, 0.96, 0.97, 0.94, 0.95, 0.93, 0.95, 0.98, 0.94, 0.96, 0.94, 0.95, 0.96, 0.96, 0.96, 0.95, 0.96, 0.97, 0.96, 0.97, 0.96, 0.97, 0.97, 0.97, 0.97, 0.96, 0.96, 0.97, 0.96, 0.98, 0.96, 0.97, 0.98, 0.96, 0.97, 0.96, 0.98, 0.98, 0.98, 0.98, 0.97, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.98, 0.98, 0.98, 0.98, 0.99, 0.98, 0.98, 0.98, 0.98, 0.99, 0.98, 0.99, 0.98, 0.99, 0.99, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 0.99, 1.0, 0.99, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]